<div class="w-full flex items-center justify-center">

    <img class="z-0 absolute top-0 left-0 w-full h-full object-cover" src="assets/background.avif"
        alt="background-image">

    <div class="z-1 max-w-md w-full bg-white rounded-xl shadow-lg p-8 top-40 relative" *ngIf="!showNewPasswordForm">
        <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">Email Verification</h2>
        <form class="space-y-4" [formGroup]="emailVerificationForm">
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Email <span
                        class="text-red-500">*</span></label>
                <input type="email" formControlName="email"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none transition-all" />
                <div class="error text-red-500"
                    *ngIf="emailVerificationForm.controls['email'].invalid && emailVerificationForm.controls['email'].touched">
                    <span *ngIf="emailVerificationForm.controls['email'].errors?.['required']">Email is required.</span>
                    <span *ngIf="emailVerificationForm.controls['email'].errors?.['pattern']">Invalid email
                        format.</span>
                </div>
            </div>
            <div
                class="flex flex-row items-center justify-between *:text-white *:font-medium *:py-2.5 *:rounded-lg *:transition-colors">
                <button (click)="backToLogin()" class="w-[49%] bg-gray-500 hover:bg-gray-700">
                    Back
                </button>
                <button [disabled]="emailVerificationForm.invalid" (click)="sendEmail()"
                    class="w-[49%] bg-indigo-600 hover:bg-indigo-700">
                    Send email
                </button>
            </div>
        </form>
    </div>

    <div class="z-1 max-w-md w-full bg-white rounded-xl shadow-lg p-8 top-40 relative" *ngIf="showNewPasswordForm">
        <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">Reset Password</h2>
        <form class="space-y-4" [formGroup]="newPasswordForm">
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Email <span
                        class="text-red-500">*</span></label>
                <input type="email" formControlName="email" readonly
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none transition-all" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">New Password <span
                        class="text-red-500">*</span></label>
                <input type="password" formControlName="newPassword"
                    placeholder="At least 8 characters, 1 uppercase, 1 lowercase, 1 number, 1 special character"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none transition-all" />
                <div class="error text-red-500"
                    *ngIf="newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched">
                    <span *ngIf="newPasswordForm.controls['newPassword'].errors?.['required']">New Password is
                        required.</span>
                    <span *ngIf="newPasswordForm.controls['newPassword'].errors?.['pattern']">Invalid password
                        format.</span>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Confirm Password <span
                        class="text-red-500">*</span></label>
                <input type="password" formControlName="confirmPassword"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none transition-all" />
                <div class="error text-red-500"
                    *ngIf="newPasswordForm.controls['confirmPassword'].invalid && newPasswordForm.controls['confirmPassword'].touched">
                    <span *ngIf="newPasswordForm.controls['confirmPassword'].errors?.['required']">Confirm Password is
                        required.</span>
                </div>
                <div class="error text-red-500"
                    *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">
                    Passwords do not match.
                </div>
            </div>
            <button [disabled]="newPasswordForm.invalid" (click)="resetPassword()"
                class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2.5 rounded-lg transition-colors">
                Reset Password
            </button>
        </form>
    </div>
</div>